@import './mixin';

* {
  margin: 0;
  @include mobile { font-size: 18px; }
  @include tablet { font-size: 22px; }
  @include pc { font-size: 26px; }
}

h1 {
  @include mobile { font-size: 28px; }
  @include tablet { font-size: 32px; }
  @include pc { font-size: 36px; }
}

@font-face {
  font-family: 'NotoSans';
  font-weight: normal;
  src: url("../assets/fonts/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: 'NotoSans';
  font-weight: bold;
  src: url("../assets/fonts/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: 'NotoSans';
  font-weight: lighter;
  src: url("../assets/fonts/NotoSansKR-Light.otf");
}

.App {
  font-size: 18px;
  text-align: center;
  font-family: 'NotoSans';
}