@import "../../styles/mixin";

header {
  padding : 25px;
  text-align: left;
  background-color: #f1f1f1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    height: 40px;
    width: calc(100% - 40px);
    position: fixed;
    @include flex-center;
  }
  @include tablet {
    // height: 100px;
  }
  @include pc {
    // height: 200px;
  }
}

.icon {
  width: 40px;
  cursor: pointer;
  position: fixed;
  top: 24px;
  right: 30px;
  &:hover {
    transform: scale(1.1) rotate(120deg);
    transition: 0.3s;
  }
  &:active {
    transform: scale(0.9) rotate(240deg);
  }
}

.logo__text {
  font-family: 'Heading-Pro';
  @include mobile { font-size: 32px; }
  @include tablet { font-size: 36px; }
  @include pc { font-size: 40px; }
}

.header__links {
  color: rgb(48, 48, 48);
  margin-right: 70px;
  font-weight: lighter;
  cursor: pointer;
  @include tablet { font-size: 16px; }
  @include pc { font-size: 20px; }
  @include mobile { display: none; }

  &:hover {
    text-decoration: underline;
  }
}