@import "../../styles/mixin";

.header {
  padding : 20px;
  @include mobile {
    height: 50px;
  }
  @include tablet {
    height: 100px;
  }
  @include pc {
    height: 200px;
  }
}

.icon {
  width: 32px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1) rotate(120deg);
    transition: 0.3s;
  }
}